body{
    display: block;
    overflow-x: hidden;
  }
  
  nav{
    background-color: rgb(148, 148, 148);
    height: 100px;
  }
  
  .navbar-brand img {
    max-height: 50px;
  }
  
  .navbar-brand{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
     color: #afa7b9;
  }
  
  nav ul li a{
    color: #ce0000;
    font-size: 22px;
    margin: auto 10px; 
  }
  
  nav ul li a:hover{
    color: #ffffff;
  }
.main2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(103, 103, 104);
    opacity: 0.9;
    width: 100%;

  }
#cards{
    width: 500px;
    margin: 3%;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    height: 500px;
    align-items:center ;
    background-color: rgb(221, 221, 221);
}
.price{
padding-left: 20px;
color: black;
font-size: 100%;
}
.buy{
margin-top: 25%;
border-radius: 7px;
color: rgb(255, 255, 255);
background-color: black;
border: none;
height: 40px;}






/* footer */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #444444;
  top: -10px;
}

.left .content p {
  text-align: justify;
  color: white;
}

.left .content .social {
  margin: 20px 0 0 0;
  
}

.left .content .social a {
  padding: 0 2px;
  color: rgb(168, 2, 168);

}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #0f0f0f;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #494848;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #f8f7f7;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #646363;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
  color: white;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #ffffff;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #ffffff;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #ffffff;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f8f8f8;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}

.right form .btn button:hover {
  background: rgb(136, 134, 134);
}

@media screen and (max-width: 900px) {
  footer {
      position: relative;
      bottom: 0px;
  }
  .main-content {
      flex-wrap: wrap;
      flex-direction: column;
  }
  .main-content .box {
      margin: 5px 0;
  }
}
